<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<title>Truthify</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/assets/js/cats.js"></script>
	</head>
	<body>
		<div class="jumbotron text-center" style="background: transparent">
			<nav class="navbar navbar-inverse" style="background: transparent">
				<div class="container-fluid" >
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown"  href="#">
					        <span class="glyphicon glyphicon-align-justify"></span></a>
					        <ul class="dropdown-menu">
								<li><a href="/">Home</a></li>
								<li><a href="/newsFilter">Filter News</a></li>
								<li><a href="/dataResults">Data Results</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<h1>Truthify</h1>      
		</div>
		<div class="container-fluid bg-primary">
			<!-- <ul class="nav nav-tabs">
				<li role="presentation"><a href="#" class="text-white">Home</a></li>
				<li role="presentation"><a href="#">Sort News</a></li>
				<li role="presentation"><a href="#">Data</a></li>
			</ul> -->
<!-- 			<div class="wrap">
				<div class="search" id="search-box">
					<input type="text" class="searchTerm" placeholder="Search the News">
					<button type="submit" class="searchButton bg-primary">
						<i class="glyphicon glyphicon-search bg-primary"></i>
					</button>
				</div>
			</div> -->
			{{{ body }}}
		</div>
		
	</body>
</html>
