<form class="create-form">
	<div class="search">
		<input type="text" class="searchTerm text-primary" placeholder="Search the News" id="search-box">
		<button type="submit" class="searchButton bg-primary" id="search-button">
			<i class="glyphicon glyphicon-search bg-primary"></i>
		</button>
	</div>
</form>

<h2>Search Results</h2>
<ul>
  {{#each news}}
  	<p> howdy</p>
      {{> hbsObject/results}}
  {{/each}}
</ul>


